###############INTEGRATION##############

# name of the pipeline
name: Continuous Integration Workflow

#Event is triggered when push || pull_request of branch main
on: 
  push: 
    branches: 
      - main
  pull_request:
    branches:
      - main
  #Gives a Manual option to trigger the Pipeline
  workflow_dispatch:

#list of jobs
jobs: 
    first-job:
      #The Operating System
        runs-on: ubuntu-latest
        steps:
          #Utlizing the latest actions// V4 is the version
            - name: Checkout actions
              uses: actions/checkout@v4
    second-job:
        runs-on: ubuntu-latest
        #needs => The step mention must be completed to start the current step
        needs: first-job
        #IF is added to run rest only when step mentioned must complete successfully
        if: needs.first-job.outputs == 'true'
        steps:
            - name: Set up Python
              uses: actions/setup-python@v2
              with:
                python-version: '3.12'
    lint:
      runs-on: ubuntu-latest
      needs: [first-job, second-job]
      if : needs.second-job.outputs =='true'
      name: 
      
              